:root {
  --background: whitesmoke;
  --foreground: #171717;
  --background-2: rgb(200, 200, 200);
  --background-3: rgb(200, 200, 200);

  /** MAIN COMPONENTS */
  --radius-main: 20px;
  --width-main-full: clamp(300px, 80vw, 1600px);
  --width-main-1800: clamp(300px, 90vw, 1600px);
  --width-main-1500: clamp(300px, 95vw, 1600px);

  /** MINOR COMPONENTS */
  --width-LCD: clamp(100px, 14vw + 20px, 280px);
  --lcd-readout-height: 50px;
  --lcd-readout-height-1250: clamp(35px, 0.75vw, 45px);
  --lcd-readout-border-radius: 7px;
  --lcd-font-size: clamp(8pt, 1.25vw, 18pt);

  /** CURRENTLY PLAYING */
  --playing-border-color: lightgreen;
  --playing-box-shadow: 0 0 10px 2px rgba(144, 238, 144, 0.75);

  /** HOVER SELECTION */
  --hover-item-border-color: gold;
  --hover-item-box-shadow: 0 0 10px 2px rgba(255, 217, 0, 0.75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-2: rgb(26, 26, 26);
    --background-3: rgb(12, 12, 12);
  }

  audio::-webkit-media-controls-panel {
    background-color: rgba(49, 91, 206, 0.65);
  }
}

@media (prefers-color-scheme: light) {
  audio::-webkit-media-controls-panel {
    color: #fff;
    background-color: rgba(183, 197, 223, 0.678);
  }
}

audio {
  border-radius: 25px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: lightblue;
}

h2.section-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2vh;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.disabled {
  color: black;
  filter: opacity(0.35);
  user-select: none;
  pointer-events: none;
}

.disabled:hover {
  cursor: default !important;
  border-color: transparent !important;
  background-color: initial !important;
}
