.body {
  background-image: linear-gradient(black, rgb(141, 71, 141), rgb(58, 83, 134));
  display: flex;
  padding: 4vh 2vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}
