.body {
    display: flex;
    padding: 4vh 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(black, rgb(141, 71, 141), rgb(58, 83, 134));
}