.wrapper {
  margin: 0.5vh 0vw;
  overflow: scroll;
  width: clamp(150px, 25vw, 350px);
  padding: 2vh 1vw;
  background-color: rgba(0, 0, 0, 0.356);
  border-radius: var(--radius-main);
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.header {
  margin-bottom: 2vh;
}

.header span {
  font-family: var(--barlow-semi-condensed);
  text-transform: uppercase;
  color: silver;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

ul.loopControlsList {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li.loopControlListItem {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--barlow-semi-condensed);
  text-transform: uppercase;
  color: white;
  border-radius: var(--lcd-readout-border-radius);
  padding: 0.5vh 1vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 3rem;
  margin: 0.25rem;
  width: 100%;
}

li.loopControlListItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

li.loopControlListItem[aria-disabled="true"] {
  background-color: rgba(100, 100, 100, 0.5);
  color: gray;
  cursor: default;
  pointer-events: none;
}

.loopSelectionActive {
  background-color: rgba(100, 149, 237, 0.7) !important;
}
