.wrapper {
  margin: 0.5vh 0vw;
  overflow: scroll;
  width: clamp(150px, 25vw, 350px);
  padding: 2vh 1vw;
  background-color: rgba(0, 0, 0, 0.356);
  border-radius: var(--radius-main);
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.header {
  margin-bottom: 2vh;
}

.header span {
  font-family: var(--barlow-semi-condensed);
  text-transform: uppercase;
  color: silver;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
