:root {
    --lcd-readout-height: 50px;
    --lcd-readout-border-radius: 7px;
}

.wrapper {
    background-image: linear-gradient(rgb(30, 30, 30), rgb(10, 10, 10), black, black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid var(--foreground);
    border-radius: var(--radius-main);
    width: clamp(300px, 80vw, 1600px);
    height: clamp(150px, 33vh, 350px);
}

.body {
    display: flex;
    padding: 1vh 2vw;
}

.currentTrack {
    display: flex;
    height: 100%;
    /* grid-template-rows: 18px 48px 24px auto; */
    /* label, title, verse, controls */
    row-gap: 12px;
    min-height: 120px;
}

.currentTrackOutput {
    width: 100%;
    margin: 0 auto;
}

.waveWrapper {
    border-radius: 10px;
    padding: 2vh 1vw;
    background-image: linear-gradient(rgba(112, 128, 144, 0.5), rgba(112, 128, 144, 0.25), rgba(112, 128, 144, 0.20), rgba(112, 128, 144, 0.10));
    height: 176px;
}

.currentTrackMeta {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
}

.nowPlayingHeader h2 {
    font-family: var(--barlow-semi-condensed);
    margin: 2vh 0vw;
    font-weight: 400;
    color: silver;
}

.artwork {}

.trackTitle {
    font-family: var(--eagle-lake);
    color: white;
    font-size: clamp(16pt, 1vw + .5rem, 32pt);
    margin: 4px 0;
}

.artistName {
    color: whitesmoke;
}

.verse {
    margin: 4px 0;
    color: silver;

    font-size: clamp(12pt, .75vw + .25rem, 26pt);
}

.upNext {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.upNextLabel {
    font-style: italic;
    color: silver;

}

.upNextValue {
    color: silver;
    font-size: clamp(12pt, .75vw, 18pt);
}

.controlArea {
    display: flex;
}


.leftSide {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.subWaveInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
}

.timeReadouts {
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgb(16, 16, 16), black);
    justify-content: flex-end;
    border-radius: var(--lcd-readout-border-radius);
    padding: 1vh .5vw;
    font-size: clamp(14pt, .5vw + .5rem, 24pt);
    color: rgba(178, 34, 34, 0.75);
    font-family: 'DSEG7-Classic', monospace;
    letter-spacing: 2;
    width: 250px;
    height: var(--lcd-readout-height);
}

.credit {
    color: silver;
}