.wrapper {
    background-image: linear-gradient(rgb(40, 40, 40), var(--background) 20%, black 80%);
    display: flex;
    margin: 2px;
    padding: 2vh 1vw;
    width: clamp(300px, 10vw, 600px);
    border: 1px solid var(--foreground);
    border-radius: 10px;
    transition: all .2s;
    justify-content: space-between;
}

.wrapper:hover {
    cursor: pointer;
    /* border-color: gold; */
    box-shadow: 0 0 10px 2px rgba(255, 217, 0, 0.75);
}

.wrapper.playing {
    border-color: greenyellow;
}

.trackTitleVerse {
    display: flex;
    flex-direction: column;
}

.wordCountWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5vh .25vw;
}

.wordCountLabel {
    text-transform: uppercase;
    color: darkgray;
}

.wordCountValue {
    font-size: clamp(12pt, 1vw, 24pt);
}

.wrapper.playing {
    border-color: lightgreen;
    box-shadow: 0 0 10px 2px rgba(144, 238, 144, .75);
    /* optional subtle animation */
    /* transition: box-shadow 0.3s ease, border-color 0.3s ease; */
}

@media (max-width: 1550PX) {
    .wrapper {
        width: clamp(200px, 20vw, 275px);
        /* height: clamp(150px, 40vh, 350px); */
    }

    .wordCountValue {
        font-size: clamp(10pt, 1vw + .25rem, 14pt);
    }

    .trackTitleVerse h2 {
        font-size: clamp(16pt, 1vw, 22pt);
    }

}