.wrapper {
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    gap: 20px;
    align-items: center;
    background-image: linear-gradient(rgb(16, 16, 16), black);
    justify-content: space-between;
    border-radius: 7px;
    padding: 1vh .75vw;
    font-size: clamp(14pt, .5vw + .5rem, 24pt);
    color: rgba(178, 34, 34, 0.75);
    font-family: 'DSEG7-Classic', monospace;
    letter-spacing: 2;
    width: 250px;
    height: 45px;
}


.input[type="range"] {
  accent-color: rgba(255, 26, 244, 0.5); /* any color you want */
}
